@{
    ViewData["Title"] = "Mapa Astral";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li><a asp-controller="MapaAstral" asp-action="Signos">Signos</a></li>
    <li><a asp-controller="MapaAstral" asp-action="Planetas">Planetas</a></li>
</ul>
